<!DOCTYPE html>
<html>

<head>
    <title><%= attivita[0].titolo.toUpperCase() %></title>
    <link rel="stylesheet" href="/stylesheets/style-attivita.css">
    <%- include('head')%>
</head>

<body>
    <%- include('nav')%>
        <div class="wrapper">
            <div class="parallax imgmain ">
                <%- include('onde')%>
                    <img src="images/logo.jpg" class="titolo">
            </div>

            <div class="content">
                <h3 class="titolo-primo"><%= attivita[0].titolo.toUpperCase() %></h3>
                <p style="text-align: center;"><em>un' associazione sportiva</em></p>
                <p class="descrizione">
                    <%= attivita[0].descrizione %>
                </p>
                <img src="<%= attivita[0].immagine %>" alt="<%= attivita[0].titolo %>">

            </div>
            <br><br><br><br><br><br><br><br>
            <%- include('footer')%>
        </div>
        <script>
            var route = <%- JSON.stringify(route) %>;
            var attivita = <%- JSON.stringify(attivita) %>;
            console.log(attivita);

            // Scrolling Effect
            window.addEventListener("scroll", function () {
                const nav = document.querySelector("nav");
                if (window.scrollY) {
                    nav.classList.add("black");
                } else {
                    nav.classList.remove("black");
                }
            });
        </script>
</body>

</html>
