<!DOCTYPE html>
<html>

<head>
    <title>CHI SIAMO</title>
    <link rel="stylesheet" href="/stylesheets/style-attivita.css">
    <%- include('head')%>
</head>

<body>
    <%- include('nav')%>
        <div class="wrapper">
            <div class="parallax imgmain ">
                <%- include('onde')%>
                    <img src="images/logo.jpg" class="titolo">
            </div>

            <div class="content">
                <h3 class="titolo-primo">CHI SIAMO?</h3>
                <p style="text-align: center;"><em>un' associazione sportiva</em></p>
                <p class="descrizione">
                    L'Associazione Blukippe offre spazi sportivi per bambini e ragazzi con un focus specifico
                    sulla partecipazione inclusiva, dedicando attenzione anche a coloro con disabilità
                    sensoriali e intellettive
                </p>
                <div class="ChiSiamo">
                    <div class="ginnastica">
                        <img src="images/test.jpg">
                    </div>
                    <div class="attivita">
                        <span>Le nostre attività</span>
                        <p>
                            I nostri corsi variano dalla ginnastica ritmica, allo yoga, ai tessuti aerei e
                            a molto altro ancora<br>
                        <p class="test">Tutti gli atleti durante l'anno sportivo possono partecipare a una o
                            più competizioni, adeguate all'età e al livello di ciascuno </p>
                        </p>
                    </div>
                </div>

            </div>

            
            <br><br><br><br><br><br><br><br>

            <%- include('footer')%>
        </div>
        <script>
            var route = <%- JSON.stringify(route) %>;
            var attivita = <%- JSON.stringify(attivita) %>;
            console.log(attivita);

            // Scrolling Effect
            window.addEventListener("scroll", function () {
                const nav = document.querySelector("nav");
                if (window.scrollY) {
                    nav.classList.add("black");
                } else {
                    nav.classList.remove("black");
                }
            });
        </script>
</body>

</html>