<!DOCTYPE html>
<html>

<head>
      <title>HOME</title>
      <link rel="stylesheet" href="/stylesheets/style-slideshow.css">
      <link rel="stylesheet" href="/stylesheets/style-index.css">
      <%- include('head')%>
</head>

<body>
      <%- include('nav')%>
            <div class="wrapper">
                  <div class="parallax imgmain ">
                        <%- include('onde')%>
                              <img src="images/logo.jpg" class="titolo">
                  </div>

                  <h3 style="padding: 62px 25% 0px 25%;line-height: 1.4;" class="titolo-primo">I NOSTRI EVENTI</h3>
                  <p style="text-align: center;"><em>le nostre notizie</em></p>
                  <%- include('slideshow')%>
                        <div class="imgmain4 parallax">
                              <h2 class="titoli-vari">ATTIVITÁ</h2>
                        </div>
                        <div class="attivita">
                              <a href="/attivita?token=artistica">
                                    <div class="div1">
                                          <img src="/images/artistica.jpg">
                                          <h1>Ginnastica Artistica</h1>
                                    </div>
                              </a>
                              <a href="/attivita?token=yoga">
                                    <div class="div2">
                                          <img src="/images/yoga.jpg">
                                          <h1>Yoga</h1>
                                    </div>
                              </a>
                              <a href="/attivita?token=tessuti">
                                    <div class="div3">
                                          <img src="/images/tessuti.jpg">
                                          <h1>Tessuti Aerei</h1>
                                    </div>
                              </a>
                              <a href="/attivita?token=thai">
                                    <div class="div4">
                                          <img src="/images/thai.jpg">
                                          <h1>Thai Chi</h1>
                                    </div>
                              </a>
                              <a href="/attivita?token=ritmica">
                                    <div class="div5">
                                          <img src="/images/ritmica.jpg">
                                          <h1>Ginnastica Ritmica</h1>
                                    </div>
                              </a>
                              <a href="/attivita?token=teatro">
                                    <div class="div6">
                                          <img src="/images/teatro.jpg">
                                          <h1>Teatro</h1>
                                    </div>
                              </a>
                        </div>
                        <div class="imgmain2 parallax">
                              <h2 class="titoli-vari">STRUTTURE</h2>
                        </div>

                        <div class="content">
                              <h3 class="titolo-primo">LA NOSTRE STRUTTURE</h3>
                              <p style="text-align: center;"><em>da Che Guevara a Madre Teresa</em></p>
                              <p style="margin:0;padding:10px">
                                    Da settembre 2012 ci siamo trasferiti nella nuova arcostruttura a Salboro in via M.
                                    Ponchia 1a.
                                    L'enorme struttura ci è stata concessa in gestione dal Comune di Padova.
                                    In questa nuova struttura di 1000mq dotata di un ampia fossa paracadute e da tutta
                                    l'attrezzatura propedeutica e da competizione di alto livello per la ginnastica
                                    artistica,
                                    svolgiamo tutti i corsi per bambini e adulti di ginnastica.
                              </p>

                        </div>
                        <div class="imgmain3 parallax">
                              <h2 class="titoli-vari">CONTATTI</h2>
                        </div>
                        <div class="content">
                              <h3 class="titolo-primo">DOVE CI PUOI TROVARE</h3>
                              <p style="text-align: center;"><em>la nostra sede</em></p>
                              <div class="location inverso">
                                    <div class="flex-item-right" style="flex:40% !important;">
                                          <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5606.7091383458055!2d11.887338132977659!3d45.361839659639074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477edb60a2cd15f7%3A0xb2e84bd4440f9b5d!2sBlukippe%20Ginnastica!5e0!3m2!1sit!2sit!4v1701957447771!5m2!1sit!2sit"
                                                class="mappa" allowfullscreen="" loading="lazy"
                                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                    <div class="flex-item-left" style="flex:10% !important;text-align: left;">
                                          <b>Ecco dove siamo</b><br>
                                          <i class="fas fa-building"></i> Palazzetto<br>
                                          <i class="fa fa-map-marker"></i> Padova, PD<br>
                                          <i class="fa fa-phone"></i> Phone: +39 339 334 8195<br>
                                          <i class="fa fa-envelope"></i> Email: infobk@blukippe.com<br>
                                    </div>
                              </div>

                              <div class="location inverso">

                                    <div class="flex-item-left"
                                          style="text-align: left;flex:40% !important; width: 100%;">
                                          <details>
                                                <summary>Come posso sostenere questa iniziativa?</summary>
                                                <div>
                                                      <p>5 per mille</p>
                                                </div>
                                          </details>
                                          </details>
                                          <details>
                                                <summary>Come posso iscrivere mio figlio/a?</summary>
                                                <div>
                                                      <p>Scrivici!</p>

                                                </div>
                                          </details>
                                          <details>
                                                <summary>è possibile fare una lezione di prova?</summary>
                                                <div>
                                                      <p>Certo che sì!</p>
                                                </div>
                                          </details>

                                    </div>
                                    <div class="flex-item-right" style="flex:10% !important;text-align: left;"><span
                                                class="FAQ">FAQ</span><br></div>
                              </div>
                        </div>

                        <%- include('footer')%>
            </div>

            <script type="text/javascript">
                  // Scrolling Effect
                  window.addEventListener("scroll", function () {
                        const nav = document.querySelector("nav");
                        if (window.scrollY) {
                              nav.classList.add("black");
                        } else {
                              nav.classList.remove("black");
                        }
                  });

                  var notizie = <%- JSON.stringify(notizie) %>;

                  function aggiungiSlide(titolo, descrizione, immagine) {
                        const galleryScroller = document.getElementById('gallery_scroller');
                        const newSlide = document.createElement('div');
                        newSlide.classList.add('grid-item');
                        newSlide.innerHTML = `
                  <img src="data:image/jpeg;base64,${immagine}">
                  <b>${titolo}</b>
                  <p>${descrizione}</p>
            `;
                        galleryScroller.appendChild(newSlide);
                  }

                  notizie.forEach(notizie => {
                        aggiungiSlide(notizie.titolo, notizie.descrizione, notizie.immagine);
                  });

                  if (window.matchMedia("(max-width: 767px)").matches) {
                        document.querySelector(".parent").style.gridTemplateColumns = `repeat(${notizie.length}, 70%)`;
                  } else {
                        document.querySelector(".parent").style.gridTemplateColumns = `repeat(${notizie.length}, 35%)`;
                  }
            </script>
</body>

</html>